In [9]:
import pandas as pd
sales_df = pd.read_csv("../data/raw/sales.csv")
sales_df

,TransactionID,Date,ProductCategory,ProductName,UnitsSold,UnitPrice,TotalRevenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal
...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card

In [10]:
sales_df["ProductName"].nunique()

232

In [11]:
duplicated_rows = sales_df[sales_df.duplicated(subset='ProductName', keep=False)].sort_values(by='ProductName')
duplicated_rows

,TransactionID,Date,ProductCategory,ProductName,UnitsSold,UnitPrice,TotalRevenue,Region,Payment Method
9,10010,2024-01-10,Books,Dune by Frank Herbert,2,25.99,51.98,North America,Credit Card
231,10232,2024-08-19,Books,Dune by Frank Herbert,2,9.99,19.98,North America,Credit Card
16,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1,399.99,399.99,Europe,PayPal
127,10128,2024-05-07,Home Appliances,Dyson Supersonic Hair Dryer,2,399.99,799.98,Europe,PayPal
18,10019,2024-01-19,Electronics,Garmin Forerunner 945,2,499.99,999.98,North America,Credit Card
221,10222,2024-08-09,Sports,Garmin Forerunner 945,1,599.99,599.99,Asia,Credit Card
13,10014,2024-01-14,Home Appliances,Keurig K-Elite Coffee Maker,1,189.99,189.99,Europe,PayPal
211,10212,2024-07-30,Home Appliances,Keurig K-Elite Coffee Maker,2,169.99,339.98,Europe,PayPal
30,10031,2024-01-31,Electronics,Sony WH-1000XM4 Headphones,2,349.99,699.98,North America,Credit Card
150,10151,2024-05-30,Electronics,Sony WH-1000XM4 Headphones,1,349.99,349.99,North America,Credit Card
87,10088,2024-03-28,Books,The Catcher in the Rye by J.D. Salinger,4,13.99,55.96,North America,Credit Card
189,10190,2024-07-08,Books,The Catcher in the Rye by J.D. Salinger,3,10.99,32.97,North America,Credit Card
171,10172,2024-06-20,Books,The Girl with the Dragon Tattoo by Stieg Larsson,2,9.99,19.98,North America,Credit Card
213,10214,2024-08-01,Books,The Girl with the Dragon Tattoo by Stieg Larsson,3,10.99,32.97,North America,Credit Card
51,10052,2024-02-21,Books,The Silent Patient by Alex Michaelides,2,26.99,53.98,North America,Credit Card
225,10226,2024-08-13,Books,The Silent Patient by Alex Michaelides,3,26.99,80.97,North America,Credit Card

From the result of duplicated_rows,
there are 6 products have changes in the product category or price

In [12]:
customer_df = pd.read_csv("../data/raw/customers.csv")
customer_name = list(customer_df['first_name'] +" "+ customer_df['last_name']) # will be added in the sales data

In [13]:
customer_df.to_csv("../data/staging/customers.csv", index=False)

In [14]:
store_df = pd.read_csv("../data/raw/stores.csv")
store_name = list(store_df['store_name']) # will be added in the sales data

In [15]:
store_df.to_csv("../data/staging/stores.csv", index=False)

In [16]:
import random
random.seed(42)

def sales_update(sales_df,store_n,customer_n):
    sales_df['customer_name'] = [random.choice(customer_n) for i in range(len(sales_df))]
    sales_df['store_name'] = [random.choice(store_n) for i in range(len(sales_df))]
    return sales_df

sales_final = sales_update(sales_df,store_name,customer_name)
sales_final.to_csv("../data/staging/sales_final.csv", index=False)